/* dispositivi LG */
.container {
  padding: 20px;
}

h2 {
  margin: 20px 0;
}
img {
  height: 200px;
}
h3 {
  margin: 20px 0;
}

#lezioni {
  text-align: center;
}
#lezioni img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#steps {
  text-align: center;
}

#why {
  text-align: center;
}
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
hr {
  margin-bottom: 30px;
}


/* dispositivi XS */
@media screen and (max-width: 767px) {

  .container {
    padding: 10px;
  }

  #lezioni .left,
  #lezioni .right {
    margin: 15px 0;
  }

  #steps .left,
  #steps .right {
    margin: 15px 0;
  }

  h2 {
    margin-top: 0;
  }

  body .container:first-child,
  body .container:last-child {
    background-color: beige;
  }
}


/* dispositivi MD */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    padding: 15px;
  }

  #steps .right {
    float: none;
  }

  #why .third {
    float: none;
  }

  hr {
    display: none;
  }
}
