.container {
  margin: 60px auto;
}

h1 {
  margin: 20px 0;
}
img {
  height: 200px;
}
h3 {
  margin: 20px 0;
}

#lezioni {
  text-align: center;
}
#lezioni img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#steps {
  text-align: center;
}

#why {
  text-align: center;
}
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
#why p {
  margin-bottom: 30px;
}
